$mainDark: #09090a;
$secondaryDark: #151618;
$textInactive: #838283;

// Background base
$background_color: #0e1822;

// Colores
$skyblue: #14a3e6;
$pink: #ff6a76;
$orange: #ff7f44;
$red: #ff4444;
$yellow: #f5b911;
$lightyellow: #fbff09;
$green: #69fd89;
$violet: #2e2583;
$main_text: white;
$gold: #dbbf8b;

// Color por linea
$card_adc: #1968b2;
$card_supp: #16a853;
$card_mid: #6819b2;
$card_top: #b21926;
$card_jungla: #dd700a;
