.configuration {
  &__section {
    margin-bottom: 2px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bolder;
    color: lighten($gold, 20%);
    font-size: 1.1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.123);
    padding-bottom: 0.5em;
  }

  &__element {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    &__name {
      display: inline-block;
      font-size: 0.85em;
      margin-left: 1em;
      color: lighten($gold, 25%);
      opacity: 0.9;
    }
  }

  &__button {
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    padding: 7px 15px;
    background: $lolbutton_background;
    font-size: 0.7em;
    color: white;
    position: relative;
    outline: none;

    &:not(.disabled):hover {
      background: lighten($lolbutton_background, 2%);
    }

    &__border {
      pointer-events: none;
      opacity: 1;
      border: 1px solid transparent;
      border-image: linear-gradient(
        to top,
        #785b28 0%,
        #c89c3c 55%,
        #c8a355 71%,
        #c8aa6e 100%
      );
      border-image-slice: 1;
      transition: opacity 300ms linear;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &--disabled {
      color: grey;
      cursor: auto;
    }
  }
}
