.element_box {
  background: $background_lighter;
}

.header_text {
  position: relative;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1em;
  color: lighten($gold, 22%);
  text-transform: uppercase;
  font-weight: bolder;
  font-family: $bolderFont;

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    height: 1px;
    width: calc(50% - 10em);
    background: $gold;
    background: linear-gradient(to right, transparent, rgba($gold, 0.5));
  }
  &:before {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    height: 1px;
    width: calc(50% - 10em);
    background: $gold;
    background: linear-gradient(to right, rgba($gold, 0.5), transparent);
  }

  &--long {
    font-size: 1.3em;

    &:after,
    &:before {
      width: calc(40% - 10em);
    }
  }
}

// Tarjetas

.detailcard {
  width: 100%;
  height: 490px;
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.26);
  border: 1px solid $card_border_color;
  background: black;
  margin: 0 auto;
  margin-bottom: 1em;
  // cursor: pointer;
  text-decoration: none;

  &__border {
    border-width: 2px;
    position: absolute;
    z-index: 6;
    bottom: -1px;
    top: -1px;
    left: -1px;
    right: -1px;
    border-width: 2px;
    border-style: solid;
    opacity: 0;
    transition: all 0.4s ease;
    border-image-source: linear-gradient(
      rgb(239, 229, 212) 0px,
      rgb(198, 155, 75)
    );
    border-image-slice: 20;
  }

  &:hover {
    .detailcard__border,
    .detailcard__overlay {
      opacity: 1;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      @extend %abs_center;
      width: 107%;
      opacity: 0.9;
    }
  }

  &__overlay {
    z-index: 2;
    background: linear-gradient(
      45deg,
      rgba(22, 22, 22, 0.95) 0%,
      rgba(8, 11, 26, 0.85) 20%,
      rgba(17, 27, 37, 0.6) 48%,
      rgba(17, 27, 37, 0) 80%,
      rgba(18, 27, 36, 0) 100%
    );
    @extend %abs_center;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.2em;
    text-align: left;
    font-family: "Source Sans Pro";
    padding-bottom: 0.7em;
    z-index: 10;

    .name {
      font-size: 1em;
      margin-bottom: 3px;
      font-weight: 600;
      color: lighten($gold, 5%);
      font-family: $bolderFont;
      transition: all 0.4s ease;
    }

    .title {
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: bolder;
      color: lighten($gold, 20%);
      margin-bottom: 10px;
      transition: all 0.4s ease;

      &--percent {
        font-size: 1.2em;
        font-family: $bolderFont;
      }

      small {
        font-size: 0.5em;
        opacity: 0.6;
        display: block;
      }
    }

    .lane {
      position: relative;
      max-height: 28px;
      overflow: hidden;
      margin: 10px 0;

      &__icon {
        display: inline-block;
        background-color: $card_adc;
        width: 28px;
        height: 28px;
        position: relative;

        img {
          @extend %abs_center;
          width: 20px;
          filter: brightness(0) invert(1);
        }

        &--support {
          background-color: $card_supp;
        }
        &--mid {
          background-color: $card_mid;
        }
        &--jungla {
          background-color: $card_jungla;
        }
        &--top {
          background-color: $card_top;
        }
      }
      &__name {
        display: inline-block;
        background-color: rgb(30, 35, 40);
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 100%;
        font-size: 12px;
        color: rgb(160, 155, 140);
        text-overflow: ellipsis;
        text-transform: capitalize;
        white-space: nowrap;
        border-width: 2px 2px 2px;
        border-style: solid solid solid none;
        border-color: rgb(60, 60, 65) rgb(60, 60, 65) rgb(60, 60, 65);
        border-image: initial;
        border-left: none;
        overflow: hidden;
        padding: 6px 7px;
        text-transform: uppercase;
      }
    }
  }
}

.chartjscontainer {
  width: 100%;
  text-align: center;
  position: relative;
  height: 200px;

  &__box {
    width: 145%;
    position: absolute;
    right: -65px;
  }
}

//   Stats
.barstat {
  position: relative;
  align-items: center;
  font-family: "Source Sans Pro";
  margin: 2em auto;

  &:first-child {
    margin-top: 1em;
  }

  .barstat__stat__value {
    right: 1em;
  }

  &__bar {
    width: 100%;
    height: 15px;
    top: 10px;
    background: lighten($background, 1%);
    display: flex;
    position: relative;
    border-radius: 10px;
    align-items: center;
    padding: 3px;
  }

  &__fill {
    height: 100%;
    background: $blue_accent;
    background: linear-gradient(
      to right,
      lighten($blue_accent, 5%),
      darken($blue_accent, 15%)
    );
    z-index: 10;
    border-radius: 10px;
    position: relative;
    overflow-x: hidden;
    transition: all 0.4s ease;

    &--pink {
      background: $pink;
      background: linear-gradient(to right, $pink, darken($pink, 10%));
    }
    &--green {
      background: $green;
      background: linear-gradient(to right, $green, darken($green, 10%));
    }
  }

  &__name {
    position: absolute;
    left: 0;
    top: -0.8em;
    font-size: 0.8em;
    opacity: 0.6;
    z-index: 10;
  }

  &__value {
    position: absolute;
    right: 0;
    top: -0.8em;
    opacity: 0.6;
    font-size: 0.8em;
    z-index: 10;
  }
}

// Counters
.counters {
  width: 100%;
  border: 1px solid $card_border_color;
  padding: 0.7em 1em;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  &__section {
    margin-bottom: 0.5em;
  }

  &__title {
    color: rgba(245, 245, 245, 0.805);
    margin-bottom: 0.5em;
  }

  &__list {
    text-align: center;
    position: relative;

    &:after {
      content: "";
      @extend %abs_center;
      width: 75%;
      height: 7px;
      background: $back_bar;
      z-index: -1;
      outline: 1px solid lighten($back_bar, 20%);
      border: 1px solid darken($back_bar, 25%);
    }

    &__champ {
      width: 25%;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1em;
      }

      .image {
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $gold;
        opacity: 0.9;
        position: relative;

        &:hover {
          opacity: 1;
        }
        img {
          width: 100%;
          position: absolute;
          @extend %abs_center;
        }
      }
    }
  }
}
