.ranking {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-wrap: wrap;

    .detailcard {
      flex: 15%;
      margin: 0;
      height: 300px;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-2px);
      }

      &:not(:last-child) {
        margin-right: 0.5em;
      }

      &__background {
        img {
          top: 55%;
        }
      }

      &__text {
        padding: 0.9em;
        padding-bottom: 0.2em;

        .name {
          font-size: 0.8em;
        }
      }
    }
  }
}

.home {
  &__separator {
    margin: 1.5em auto;
    height: 1px;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent,
      rgba($row_item_background_active, 0.9),
      transparent
    );
  }
}
