.NotIngame {
  width: 100%;
  height: 100%;
  position: relative;
  animation: fadeIn 0.5s ease;

  &__text {
    @extend %abs_center;
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
  }
}

.three_columns {
  display: flex;
  flex-wrap: wrap;

  .column {
    display: flex;
    width: 50%;
    text-align: center;
    flex-wrap: wrap;

    &:nth-child(1) {
      width: 25%;
      padding-right: 1em;
    }
    &:nth-child(2) {
      padding: 0 1em;
    }
    &:nth-child(3) {
      width: 25%;
      padding-left: 1em;
    }

    & > div {
      width: 100%;
    }
  }
}

.champSelect {
  z-index: 10;

  &__build {
    display: block;
    width: 100%;
  }

  .col-6 {
    padding: 0 0;
  }
  &__image {
    width: 100%;

    .detailcard {
      height: 415px;

      &__background {
        img {
          top: 58%;
        }
      }
    }
  }

  .lolButton {
    margin-top: 0.5em;
  }
}
