.list_wrapper {
  height: 570px;
  padding-right: 1px;
  transition: width 0.2s ease;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  .empty {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10em;
    font-family: $bolderFont;
  }
}

.championlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  position: relative;
  animation: fadeIn 0.5s ease;

  ::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &__up {
    position: absolute;
    right: 25px;
    bottom: 0;
    font-size: 6em;
    z-index: 15;
    cursor: pointer;
    width: 55px;
    overflow: hidden;
    height: 55px;
    animation: fadeIn 0.5s ease;

    svg {
      width: 55px;
      height: 55px;
      @extend %abs_center;

      g {
        path:first-child {
          display: none;
        }
        path:last-child {
          fill: lighten($content_background, 5%);
          stroke: darken($gold, 20%);
          stroke-width: 0.45px;
          transform: scale(1.8) translateY(5.5px);
          transform-origin: bottom;
        }
      }
    }

    &:hover {
      svg {
        g {
          path:last-child {
            stroke: darken($gold, 10%);
          }
        }
      }
    }
  }

  //   Filtros
  &__filters {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.5em;
    display: flex;

    &__input {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      border: 1px solid $card_border_color;
      width: 35%;
      background: $input_background;

      input {
        background: none;
        font-family: "Source Sans Pro";
        color: lighten(rgba($gold, 0.5), 30%);
        border: none;
        outline: none;
        font-weight: lighter;
        width: calc(100% - 40px);

        &::placeholder {
          color: lighten(rgba($gold, 0.3), 30%);
        }
      }
    }

    input,
    select {
      font-size: 0.9em;
    }

    &__icon {
      width: 30px;
      padding-right: 10px;
      text-align: center;
      color: lighten(rgba($gold, 0.5), 20%);
    }

    &__select {
      width: 23.3%;
      padding-left: 1em;
      select {
        width: 100%;
        display: block;
        text-indent: 5px;
        background: $input_background;
        font-family: "Source Sans Pro";
        color: lighten(rgba($gold, 0.5), 30%);
        border: none;
        outline: none;
        font-weight: lighter;
        padding: 0.5em;
        border: 1px solid $card_border_color;

        option {
          background: $input_background;
          line-height: 3em;
          border-bottom: 1px solid grey;
          font-weight: lighter;
        }
      }
    }
  }

  //   Detalle
  .championdetail {
    width: 23%;
    text-align: center;
    transition: width 0.2s ease;
    padding: 0 0;
    margin-right: 2em;
    height: 615px;

    .detailcard {
      height: 485px;
    }

    &__lore {
      margin: 1em auto;
      width: 100%;
      border: 1px solid $card_border_color;
      padding: 0.7em 1em;
      position: relative;
      background: rgba(0, 0, 0, 0.2);
      height: 115px;
      overflow-y: auto;
      font-family: "Source Sans Pro";
      font-size: 0.8em;
      color: rgba(lighten($gold, 25%), 0.9);
      text-align: left;
      box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.13);
      line-height: 1.7em;
    }
  }
  //   Listado
  &__container {
    width: 74%;
    &--full {
      width: 100%;
    }
  }

  &__element {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid $card_border_color;
    padding: 0.5em;
    align-items: center;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: relative;
    border-top: 1px solid transparent;

    &:after {
      position: absolute;
      left: 1px;
      bottom: 0;
      content: "";
      padding: 2px;
      border: 1px solid $card_border_color;
      transform: translateY(50%) translateX(-50%) rotate(45deg);
      background: $content_background;
      z-index: 3;
    }
    &:before {
      position: absolute;
      right: 0px;
      bottom: 0;
      content: "";
      padding: 2px;
      border: 1px solid $card_border_color;
      transform: translateY(50%) translateX(50%) rotate(45deg);
      background: $content_background;
      z-index: 3;
    }

    &:hover {
      background: rgba($skyblue, 0.02);
    }
    &--active,
    &--active:hover {
      background: rgba($skyblue, 0.05);
      border-left-color: darken($blue_accent, 24%);
      border-right-color: darken($blue_accent, 24%);
    }
  }

  &__number {
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 0.75em;
    opacity: 0.2;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid $gold;
    background: $content_background;
    transition: all 0.2s ease;

    img {
      @extend %abs_center;
      width: 110%;
      opacity: 0.9;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  &__info {
    text-align: left;
    margin: 0 1em;
    font-weight: 600;
    width: 180px;
  }

  &__name {
    font-size: 1.2em;
    // text-transform: uppercase;
    font-weight: bolder;
    color: rgba(lighten($gold, 25%), 0.8);
    text-decoration: none;
    font-family: $bolderFont;
    &:hover {
      color: rgba(lighten($gold, 25%), 1);
    }
  }

  &__lane {
    color: rgb(71, 72, 75);
    text-transform: uppercase;
    font-size: 0.85em;
    margin-top: 0.1em;
    img {
      display: inline-block;
      width: 14px;
      margin-right: 0.3em;
      transform: translateY(2px);
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    .barstat {
      display: flex;
      width: 28%;
      flex: 28%;
      margin: 0;

      &:first-child {
        margin: 0;
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
