.list_wrapper {
  height: 570px;
  padding-right: 4px;
  transition: width 0.2s ease;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  .empty {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
  }
}

.championlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  position: relative;
  animation: fadeIn 0.5s ease;

  ::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
  }

  &__up {
    position: absolute;
    right: 25px;
    bottom: 0;
    font-size: 6em;
    z-index: 15;
    cursor: pointer;
    width: 55px;
    overflow: hidden;
    height: 55px;
    animation: fadeIn 0.5s ease;

    svg {
      width: 55px;
      height: 55px;
      @extend %abs_center;

      g {
        path:first-child {
          display: none;
        }
        path:last-child {
          fill: lighten($content_background, 5%);
          stroke: darken($gold, 20%);
          stroke-width: 0.45px;
          transform: scale(1.8) translateY(5.5px);
          transform-origin: bottom;
        }
      }
    }

    &:hover {
      svg {
        g {
          path:last-child {
            stroke: darken($gold, 10%);
          }
        }
      }
    }
  }

  //   Filtros
  &__filters {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.5em;
    display: flex;

    &__input {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5em;
      border: 1px solid $card_border_color;
      width: 35%;
      // background: darken($content_background, 1%);

      input {
        background: none;
        font-family: "Source Sans Pro";
        color: lighten(rgba($gold, 0.5), 30%);
        border: none;
        outline: none;
        font-weight: lighter;
        width: calc(100% - 40px);

        &::placeholder {
          color: lighten(rgba($gold, 0.3), 30%);
        }
      }
    }

    input,
    select {
      font-size: 0.9em;
    }

    &__icon {
      width: 30px;
      padding-right: 10px;
      text-align: center;
      color: lighten(rgba($gold, 0.5), 20%);
    }

    &__select {
      width: 23.3%;
      padding-left: 1em;
      background: $content_background;
      select {
        width: 100%;
        display: block;
        text-indent: 5px;

        background: none;
        font-family: "Source Sans Pro";
        color: lighten(rgba($gold, 0.5), 30%);
        border: none;
        outline: none;
        font-weight: lighter;
        padding: 0.5em;
        border: 1px solid $card_border_color;

        option {
          background: $content_background;
          line-height: 3em;
          border-bottom: 1px solid grey;
          font-weight: lighter;
        }
      }
    }
  }

  //   Detalle
  .championdetail {
    width: 23%;
    text-align: center;
    transition: width 0.2s ease;
    padding: 0 0;
    margin-right: 2em;
    height: 615px;

    .detailcard {
      height: 485px;
    }

    &__lore {
      margin: 1em auto;
      width: 100%;
      border: 1px solid $card_border_color;
      padding: 0.8em 1em;
      position: relative;
      background: rgba(0, 0, 0, 0.2);
      height: 115px;
      overflow-y: auto;
      font-family: "Source Sans Pro";
      font-size: 0.8em;
      color: rgba(lighten($gold, 25%), 0.9);
      text-align: left;
      box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.13);
    }
  }
  //   Listado
  &__container {
    width: 74%;
    &--full {
      width: 100%;
    }
  }

  &__element {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid rgba($ranking_border_color, 0.5);
    padding: 0.5em;
    align-items: center;
    border-left: 3px solid transparent;
    position: relative;
    border-top: 1px solid transparent;
    cursor: pointer;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      padding: 2px;
      border: 1px solid rgba($ranking_border_color, 0.5);
      transform: translateY(50%) translateX(-50%) rotate(45deg);
      background: $content_background;
      z-index: 3;
    }
    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: "";
      padding: 2px;
      border: 1px solid rgba($ranking_border_color, 0.5);
      transform: translateY(50%) translateX(50%) rotate(45deg);
      background: $content_background;
      z-index: 3;
    }

    &:not(.championlist__element--active):nth-child(even) {
      background: rgba($skyblue, 0.03);
    }

    &--active {
      background: rgba($skyblue, 0.1);
      border-left-color: darken($blue_accent, 15%);
    }
  }

  &__number {
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 0.75em;
    opacity: 0.2;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid $gold;
    background: $content_background;
    transition: all 0.2s ease;

    img {
      @extend %abs_center;
      width: 110%;
      opacity: 0.9;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  &__info {
    text-align: left;
    margin: 0 1em;
    font-family: "Beautifort-Bold";
    width: 180px;
  }

  &__name {
    font-size: 1.2em;
    text-transform: uppercase;
    color: lighten($gold, 25%);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__lane {
    color: rgb(71, 72, 75);
    text-transform: uppercase;
    font-size: 0.85em;
    margin-top: 0.1em;
    img {
      display: inline-block;
      width: 14px;
      margin-right: 0.3em;
      transform: translateY(2px);
    }
  }

  //   Stats
  &__stats {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
  }

  &__stat {
    display: flex;
    width: 33%;
    position: relative;
    align-items: center;
    font-family: "Source Sans Pro";

    &:not(:last-child) {
      padding-right: 1em;
      .championlist__stat__value {
        right: 1em;
      }
    }

    &__bar {
      width: 100%;
      height: 15px;
      top: 10px;
      background: lighten($background, 3%);
      display: flex;
      position: relative;
      border-radius: 10px;
      align-items: center;
      padding: 3px;
    }

    &__fill {
      height: 100%;
      background: $blue_accent;
      background: linear-gradient(
        to right,
        lighten($blue_accent, 5%),
        darken($blue_accent, 15%)
      );
      z-index: 10;
      border-radius: 10px;
      position: relative;
      overflow-x: hidden;

      &:after {
        content: "";
        position: absolute;
        right: 3px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        padding: 3px;
        background: rgba(0, 0, 0, 0.479);
      }

      &--pink {
        background: $pink;
        background: linear-gradient(to right, $pink, darken($pink, 10%));
      }
      &--green {
        background: $green;
        background: linear-gradient(to right, $green, darken($green, 10%));
      }
    }

    &__name {
      position: absolute;
      left: 0;
      top: -0.8em;
      font-size: 0.8em;
      opacity: 0.6;
      z-index: 10;
    }

    &__value {
      position: absolute;
      right: 0;
      top: -0.8em;
      opacity: 0.6;
      font-size: 0.8em;
      z-index: 10;
    }
  }
}
