// Barra de arriba
.top_bar {
  width: 100%;
  background: rgba($content_background, 0.6);
  color: white;
  position: relative;
  -webkit-app-region: drag;
  border-top-right-radius: $border_radius;
  border-top-left-radius: $border_radius;
  z-index: 100;
  padding: 0.3em 0.5em;
  height: 37px;

  .navbar_logo {
    color: white;
    // cursor: pointer;
    display: inline-block;
    -webkit-app-region: no-drag;
    transform: translateY(-50%) translateX(5px);
    position: absolute;
    top: 50%;

    img {
      width: 40px;
    }

    &__content {
      font-size: 0.8em;
      opacity: 0.5;
    }
  }

  .icons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    -webkit-app-region: no-drag;

    div {
      width: 37px;
      height: 37px;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.048);
      }

      &.minimize {
        position: relative;
        span {
          @extend %abs_center;
          width: 15px;
          top: 65%;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          display: block;
        }
      }
      &.close {
        position: relative;

        &:hover {
          background: rgb(170, 23, 23);
        }
        span {
          @extend %abs_center;
          width: 15px;
          top: 55%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          display: block;

          &:nth-child(2) {
            transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  .links {
    position: absolute;
    left: 3.2em;
    top: 50%;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
    a {
      text-decoration: none;
      display: inline-block;
      font-family: inherit;
      color: white;
      text-transform: uppercase;
      font-size: 0.75em;
      padding: 1em 1em;
      cursor: pointer;
      color: lighten($gold, 20%);
      opacity: 0.2;

      &:hover:not(.active) {
        opacity: 0.5;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
