// Barra de arriba
.top_bar {
  width: 100%;
  background: rgba($row_item_background_active, 0.6);
  // background: darken($dark_background_loading, 2%);
  color: white;
  position: relative;
  -webkit-app-region: drag;
  z-index: 10;
  padding: 0.3em 0.5em;
  height: 33px;

  .navbar_logo {
    color: white;
    // cursor: pointer;
    display: inline-block;
    -webkit-app-region: no-drag;
    transform: translateY(-50%) translateX(5px);
    position: absolute;
    top: 50%;
    display: none;

    img {
      width: 40px;
    }

    &__content {
      font-size: 0.8em;
      opacity: 0.5;
    }
  }

  .icons {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    font-size: 0.9em;
    -webkit-app-region: no-drag;

    div {
      width: 33px;
      height: 33px;
      display: inline-block;
      cursor: pointer;
      // color: $text_color;
      opacity: 0.7;

      &:hover {
        background: rgba(255, 255, 255, 0.048);
        opacity: 1;
      }

      svg {
        @extend %abs_center;
      }

      &.minimize {
        position: relative;
      }

      &.configuration {
        font-size: 0.9em;
        position: relative;
      }
      &.close {
        position: relative;
      }
    }
  }

  .links {
    position: absolute;
    // left: 3.2em;
    top: 50%;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
    a,
    span {
      text-decoration: none;
      display: inline-block;
      font-family: inherit;
      color: $text_color;
      // text-transform: uppercase;
      font-size: 0.75em;
      padding: 1em 1em;
      cursor: pointer;
      // color: white;
      opacity: 0.6;

      &:hover:not(.active) {
        opacity: 0.9;
      }

      &.active {
        opacity: 1;
        color: lighten($text_color, 10%);
      }
    }
  }

  .navbar_summoner {
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.7em;
    opacity: 0.6;
    animation: fadeIn 0.2s ease;
  }
}
