.runes {
  width: 100%;
  padding: 0 0.5em;
  margin-top: 1em;

  .runeList {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;

    &:after {
      content: "";
      @extend %abs_center;
      width: 75%;
      height: 7px;
      background: $back_bar;
      z-index: -1;
      outline: 1px solid lighten($back_bar, 20%);
      border: 1px solid darken($back_bar, 25%);
    }

    .rune,
    .perk {
      display: inline-block;
      flex: 20%;
      position: relative;
      height: 31px;
      width: 31px;

      &:first-child {
        .image {
          img {
            width: 70%;
          }
        }
      }

      .title {
        position: absolute;
        @extend %abs_center;
        top: -15px;
        font-size: 0.8em;
        text-transform: uppercase;
        color: $gold;
        font-weight: bolder;
        text-align: left;
        width: 100px;
        left: 55px;
      }

      .image {
        width: 31px;
        height: 31px;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $gold;
        background: radial-gradient(
          circle,
          lighten($content_background, 5%) 0%,
          $content_background 90%
        );
        @extend %abs_center;
        cursor: pointer;

        img {
          transition: all 0.4s ease;
          width: 100%;
          @extend %abs_center;
        }
      }

      .name {
        position: absolute;
        @extend %abs_center;
        top: 110%;
        transform: translateX(-50%);
        font-size: 0.9em;
        text-align: center;
        color: lighten($ranking_border_color, 15%);
        display: none;
      }
    }

    .perk {
      width: 23px;
      height: 23px;

      .image {
        width: 23px;
        height: 23px;
        img {
          width: 80%;
        }
      }
    }

    // Modificadores
    &__primary {
      .rune:nth-child(2) {
        .image {
          overflow: visible;
          img {
            width: 170%;
          }
        }
      }
    }

    &--resolve {
      .rune {
        .title {
          color: $card_supp;
        }
        .image {
          border-color: $card_supp;
        }
      }
    }
    &--precision {
      .rune {
        .title {
          color: $gold;
        }
        .image {
          border-color: $gold;
        }
      }
    }
    &--domination {
      .rune {
        .title {
          color: $pink;
        }
        .image {
          border-color: $pink;
        }
      }
    }
    &--sorcery {
      .rune {
        .title {
          color: $violet;
        }
        .image {
          border-color: $violet;
        }
      }
    }
    &--inspiration {
      .rune {
        .title {
          color: $skyblue;
        }
        .image {
          border-color: $skyblue;
        }
      }
    }
  }

  .runeListSecondary {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .runeList__secondary {
      width: 60%;
      display: flex;
    }
    .runeList__perks {
      width: 37%;
      margin-left: 5px;
      display: flex;
    }

    .runeList__bonus {
      position: absolute;
      display: none;
      right: 0;
      text-align: left;
      font-size: 0.9em;
      top: 80px;
      width: 180px;

      .bonustitle {
        color: lighten($ranking_border_color, 25%);
      }
      & > div {
        margin-bottom: 5px;
      }

      .bonusElement {
        font-size: 0.85em;
        opacity: 0.8;
      }
    }
  }
}

.lolButton {
  padding: 8px 16px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
  color: $gold;
  letter-spacing: 1px;
  background: $lolbutton_background;
  position: relative;
  display: inline-block;
  font-size: 0.85em;
  user-select: none;

  &:not(.disabled):hover {
    background: lighten($lolbutton_background, 2%);
  }

  &__border {
    pointer-events: none;
    opacity: 1;
    border: 2px solid transparent;
    border-image: linear-gradient(
      to top,
      #785b28 0%,
      #c89c3c 55%,
      #c8a355 71%,
      #c8aa6e 100%
    );
    border-image-slice: 1;
    transition: opacity 300ms linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.disabled {
    color: grey;
    cursor: auto;
  }
}

.build {
  text-align: left;
  padding: 0 0.7em;
  margin-top: 0.8em;
  &__section {
    margin-bottom: 0.6em;
  }

  .buildrow {
    .build__section {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 2em;
      }
    }
  }

  &__title {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    color: $skyblue;
    font-weight: bolder;
    font-size: 0.8em;
  }

  &__list {
    display: flex;
    position: relative;
    width: 100%;
    &:after {
      content: "";
      @extend %abs_center;
      width: 75%;
      height: 7px;
      background: $back_bar;
      z-index: -1;
      outline: 1px solid lighten($back_bar, 20%);
      border: 1px solid darken($back_bar, 25%);
    }
  }

  &__item {
    display: inline-block;
    flex: 20% 1;
    width: 37px;
    height: 37px;
    position: relative;

    &__container {
      border-radius: 50%;
      cursor: pointer;
      border: 3px solid darken($back_bar, 1%);
      background: radial-gradient(
        circle,
        lighten($content_background, 5%) 0%,
        $content_background 90%
      );
      position: absolute;
      width: 37px;
      height: 37px;
      overflow: hidden;

      img {
        position: absolute;
        @extend %abs_center;
        width: 100%;
      }
    }
  }
}

.apply_runes {
  &__autoimport {
    margin: 0 auto;
    margin-bottom: 0.2em;
    font-size: 0.7em;
    cursor: pointer;
    background: rgba(90, 90, 90, 0.116);
    padding: 0.5em 1em;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.3s ease;
    svg {
      margin-left: 5px;
      display: inline-block;
    }

    &:hover {
      background: rgba(122, 122, 122, 0.116);
    }
  }
}

.separator {
  // display: none;
  margin: 1em auto;
  width: calc(100% - 4em);
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.205),
    transparent
  );
}

.randomBoton {
  position: absolute;
  top: 50px;
  left: 10px;
  // display: none;
}
