@font-face {
  font-family: "SourceSansPro";
  src: url("./SourceSansPro-Bold.ttf");
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -60%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -60%) rotate(360deg);
  }
}

.loading_container {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  width: 100vw;
  height: 100vh;
  background: #141c25;

  color: white;
  font-family: "SourceSansPro";

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .circle {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-bottom-color: transparent;
    animation: rotate 0.7s linear infinite;
  }

  .text {
    text-align: center;
    top: 75%;
    font-size: 1.1em;
    text-transform: uppercase;
  }
}
