@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes zoomCenter {
  0% {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(0.97);
  }
  100% {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease;
}

@keyframes bardAnimation {
  0% {
    transform: translate(-50%, -65%) rotate(0);
  }
  20% {
    transform: translate(-50%, -65%) rotate(5deg);
  }
  40% {
    transform: translate(-50%, -65%) rotate(-5deg);
  }
  65% {
    transform: translate(-50%, -65%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -65%) rotate(360deg);
  }
}

@keyframes fadeText {
  0% {
    opacity: 0.6;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
