$background: #141922;
$background_lighter: rgb(14, 23, 38);
$content_background: rgb(8, 17, 31);
$blue_accent: #1f82df;
$skyblue: #14a3e6;
$pink: #ff6a76;
$orange: #ff7f44;
$yellow: #f5b911;
$green: #69fd89;
$main_text: white;
