$background: #141922;
$background_lighter: rgb(14, 23, 38);
$content_background: rgb(8, 17, 31);
$blue_accent: #1f82df;
$skyblue: #14a3e6;
$pink: #ff6a76;
$orange: #ff7f44;
$yellow: #f5b911;
$green: #69fd89;
$main_text: white;
$gold: #dbbf8b;

// ranking
$ranking_border_color: rgb(38, 67, 95);

// Cards
$card_border_color: rgba(32, 39, 46, 0.596);
$card_adc: #1968b2;
$card_supp: #16a853;
$card_mid: #6819b2;
$card_top: #b21926;
$card_jungla: #dd700a;

// Input
$input_background: rgb(5, 15, 26);
