// Source sans pro
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/SourceSansPro-SemiBold.ttf");
}

// Lora
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./fonts/Lora-SemiBold.ttf");
}
