@import "colors";
@import "fonts";
@import "config";
@import "animations";
@import "./components/navigation";
@import "./components/configuration";
@import "./components/home";
@import "./components/elements";
@import "./components/lists";
@import "./components/runes";
@import "./components/ingame";
@import "./components/lobby";
@import "./components/champSelection";
@import "./components/gameInProgress";
@import "./components/modals";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: transparent;
}

body {
  font-family: "Source Sans Pro";
  overflow: hidden;
  min-height: 750px;
  min-width: 1200px;
  background-size: cover;
  // background: $dark_background;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(42, 50, 54);
}

.App {
  width: 100vw;
  height: 100vh;
  user-select: none;

  #tsparticles canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
    transition: opacity 0.8s ease, transform 1.4s ease;
  }

  #tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    left: 0;
    opacity: 0.5;
    display: none;
  }
}
.app_wrapper {
  z-index: 2;

  .app_content {
    width: 100vw;
    height: calc(100vh - 32px);
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    z-index: 15;
    animation: fadeIn 0.4s ease;
    // background: rgba(#161e29, 0.2);
  }
}

.miniloader {
  position: relative;
  width: 100%;
  height: 100%;
  .circle {
    animation: loading 1s linear infinite;
    border: 2px solid lighten($gold, 15%);
    @extend %abs_center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-bottom-color: rgba($gold, 0.2);
  }
}

// toastify
.Toastify__toast {
  &:last-child {
    margin-bottom: 0;
  }
  &-container {
    & > div {
      font-family: "Source Sans Pro";
      min-height: 40px;
      border-radius: 2px;
    }
  }

  &--info {
    background: linear-gradient(
      to left,
      lighten($blue_accent, 2%),
      darken($blue_accent, 15%)
    );
  }
  &--error {
    background: linear-gradient(
      to left,
      darken($pink, 10%),
      darken($pink, 15%)
    );
  }
  &--default {
    background: lighten($row_item_background, 4%);
    border-radius: 3px;
    font-family: "Source Sans Pro";
    box-shadow: $main_page_shadow;

    svg {
      color: white;
    }
  }
}

.Toastify {
  &__progress-bar {
    height: 3px;
  }
}

// Update toast

.update_notif {
  &__text {
    display: inline-block;
  }
  &__button {
    display: inline-block;
    margin-left: 1.5em;
    button {
      cursor: pointer;
      font-family: inherit;
      border: none;
      color: white;
      background: lighten($row_item_background_active, 10%);
      padding: 0.5em;
      opacity: 0.9;
      outline: none;
      border-radius: 3px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
