@import "../../../sass/base.scss";

.tooltip {
  font-family: "Poppins";
  padding: 10px;

  &__title {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    color: lighten($textInactive, 15%);

    &--skyblue {
      color: $skyblue;
    }
    &--pink {
      color: $pink;
    }
  }

  &__content {
    margin-bottom: 2px;
    .key {
      display: inline-block;
      font-weight: lighter;
    }
    .value {
      display: inline-block;
      margin-left: 5px;
      color: lighten($textInactive, 10%);
      font-weight: lighter;
    }
  }
}
